.article {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: grid;
  grid-template-areas: 'img info';
  grid-template-columns: 35% 50%;
  justify-content: space-between;
  align-items:center;
  color: #fff;
  border-bottom: solid 1px #fff;
}
.article:nth-child(odd) {
  grid-template-areas: 'info img';
  grid-template-columns: 50% 35%;
}

.article_info {
  grid-area: info;
}
.article_img {
  grid-area: img ;
}

.article_info {
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
}
.article_img {
  *min-width: 35%;
}
.article_img img {
  display: block;
  width: 100%;
}

.article_more {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.4rem;
  border: solid 1px #fff;
  transition: all 0.5s;
}

.article_more:hover {
  color: rgb(84, 78, 78);
  border-color: rgb(84, 78, 78);
}

@media screen and (max-width: 980px) {
  .article {
    display: block;
    margin-bottom: 20px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .article_info {
    padding: 0;
  }
}