.articles {
  background: #000;
}

.articles_container {
  padding: 40px 40px;
}

.articles_more {
  text-align: center;
  padding: 20px 0 40px;
}

.articles_more a{
  font-size: 2.2rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Lobster', cursive;
}

.articles_more a:hover {
  color: rgb(84, 78, 78);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .articles_container {
    padding: 40px 20px;
  }
}