.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: +1;
  width: 100%;
  padding: 10px 40px;
  background: #fff; 
}
.header_container {
  max-width: 1600px;
  margin: auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 13% 87%;
  justify-content: space-between;
  align-items: center;
}

.header_fon {
  background: inherit;
}


@media screen and (max-width: 1400px) {
  .header {
    grid-template-columns: auto auto;
  }
}
