.header {
  width: 100%;
  padding: 10px 40px;
  display: grid;
  gap: 40px;
  grid-template-columns: 13% 87%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.header_fon {
  background: inherit;
}


@media screen and (max-width: 1400px) {
  .header {
    grid-template-columns: auto auto;
  }
}
