.nav {
  padding: 20px ;
  font-size: 1.2rem;
}
.nav a {
  margin-left: 40px;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s;
}

.nav a:hover {
  color: rgb(125, 117, 117);
  text-decoration: underline;
}
