.footer {
  padding: 40px 40px 20px 40px;
  box-sizing: bored-box;
  background: rgb(29, 23, 23);
  color: #fff;
}

.footer_container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-flow: column;
  column-gap: 40px;
}

.footer_menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.footer_menu a {
  padding: 5px;
  letter-spacing: 1.5px;
} 

.footer_menu a:hover {
  text-decoration: underline;
}

.footer_info {
  text-align: right;
}

.footer_info span {
  margin-left: 30px;
  font-size: 1.4rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 1.6px;
}


