.post {
  padding: 20px 0;
  color: #000;
  background: #fff;
}

.post_container {
  max-width: 980px;
  margin: auto;
}

.post_content p  {
  font-size: 1.2rem;
  text-align: left;
}

.post_content h2 {
  text-align: left;
}

.post_content a {
  font-style: italic;
  color: red;
  text-decoration: underline;
}

.post_content a:hover {
  color: blue;
}
