.post {
  color: #000;
  background: #fff;
  border: solid 1px black;
}

.post_container {
  max-width: 980px;
  margin: auto;
}

.post_content p  {
  font-size: 1.2rem;
  text-align: left;
}

.post_content h2 {
  text-align: left;
}

.post_img {
  display: block;
  margin: auto;
  max-width: 100%;
}