.prepost {
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background: #fff;
  transition: all 1s;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), inset 4px 4px 15px 0px rgba(0,0,0,0.3), 0px 0px 0px 5px rgba(0,0,0,0);
}

.prepost:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.8), inset 4px 4px 15px 0px rgba(0,0,0,0.8), 0px 0px 0px 5px rgba(0,0,0,0);
}

.prepost h2 {
  margin: 10px 0;
  text-align: left;
}

.prepost_container {
  display: grid;
  grid-template-columns: 30% 60%;
}

.prepost_info {
  padding-left: 40px;
  height: 100%;
  box-sizing: border-box;
}
