.prepost {
  padding: 20px;
  box-sizing: border-box;
  border: solid 1px black;
  background: #fff;
  border-radius: 7px;
  transition: all 1s;
}

.prepost:hover {
  *background: rgb(201, 199, 199);
}

.prepost h2 {
  margin: 10px 0;
  text-align: left;
}

.prepost_container {
  display: grid;
  grid-template-columns: 30% 60%;
}

.prepost_info {
  padding-left: 40px;
  height: 100%;
  box-sizing: border-box;
}
