html,
body {
  min-width: 480px;
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

.wrap_bg {
  background: url('/images/site/bankers-windows.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1300px;
  min-width: 480px;
  margin: auto;
  overflow: hidden;
}
/* :hover {
  color: rgb(84, 78, 78);
} */